@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Robot', sans-serif;
    background-color: teal;
}

strong {
    font-weight: bold;
}

.fighter {
    min-height: 5em;
    width: 100%;
    font-size: 3em;
    text-align: center;
    box-shadow: 0 0 10px black;
}

.fighter img {
    border-radius: .5em;
}

#friendly-zone {
    background-color: orange;
    position: fixed;
    bottom: 0;
}

#enemy-zone {
    background-color: lightblue;
    position: fixed;
    top: 0;
}

#friendly-score {
    position: absolute;
    top: -3em;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(156, 63, 63);
    color: whitesmoke;
    border-radius: .5em;
    font-size: .75em;
    box-shadow: 0 0 20px;
}

#enemy-score {
    position: absolute;
    top: 7.2em;
    left: 50%;
    transform: translateX(-50%);
    background-color: slateblue;
    color: whitesmoke;
    border-radius: .5em;
    font-size: .75em;
    box-shadow: 0 0 20px;
}

th {
    font-weight: bold;
    padding: .2em;
    margin: 1em;
}

th:first-child {
    border-top-left-radius: .5em;
}
th:last-child {
    border-top-right-radius: .5em;
}

#friendly-score th {
    background-color: darkred;
}
#enemy-score th {
    background-color: darkslateblue;
}

#name-prompt {
    background-color: gray;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px black;
    padding: 1em;
    border-radius: 1em;
}

#name-prompt h2 {
    color: white;
    font-size: 1.5em;
}

input {
    margin-bottom: .5em;
    border: thin 3px orange;
    border-radius: .5em;
    padding: .5em;
}

button {
    margin-bottom: .5em;
    padding: .5em;
    border-radius: 1em;
    border: thin lightblue;
}

#error {
    color: lightblue;
}

#reset {
    position: absolute;
    /* top: 2.5em; */
    bottom: 0;
    right: 0;
    opacity: 0;
}

#reset:hover {
    opacity: 1;
}

#result {
    background-color: gray;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px black;
    padding: .5em;
    border-radius: .5em;
    font-size: 5em;
    color: white;
}

#chat {
    background-color: lightgray;
    position: absolute;
    top: 50%;
    box-shadow: 0 0 10px black;
    border-radius: 1em;
    width: 25%;
    min-width: 380px;
}

#chat button {
    background-color: orange;
    margin-right: 1em;
}

#chat input {
    margin-left: 1em;
    width: 80%;
}

#chatheader {
    background-color: gray;
    color: lightblue;
    font-size: 2em;
    padding: .2em;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    cursor: move;
}

#chat-history {
    background-color: white;
    min-height: 7em;
}

#show-chat, #hide-chat {
    visibility: hidden;
}

#show-chat {
    position: absolute;
    left: 0;
    top: 50%;
}

#hide-chat {
    float: right;
}

#devzone {
    height: 4em;
    position: absolute;
    bottom: -2em;
    right: 0;
}

#devzone:hover {
    bottom: 0;
}

@media screen and (max-width: 480px) {
    .fighter {
        min-height: 0;
    }
    
    .fighter img {
        width: 25%;
    }

    #chat {
        width: 100%;
        max-height: 100%;
        top: 0;
    }

    #show-chat, #hide-chat {
        visibility: visible;
    }
    
    #enemy-score {
        top: 4.5em;
    }

    #enemy-zone {
        min-height: 3em;
    }
}